 /* import google fonts */
 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300&display=swap');

 *{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }

 body{
   background: #E3F2Fd;
 }

 h1{
   text-align: center;
   background: #53F2Fd;
   padding: 18px 0;
 }