 /* import google fonts */
 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300&display=swap');

 *{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }

 body{
   background: #E3F2Fd;
 }

 h1{
   text-align: center;
   background: #53F2Fd;
   padding: 18px 0;
   font-size: 1.75rem;
 }

 .container{
  display: flex;
  gap: 35px;
  padding: 30px;
 }

 .weather-input{
  width: 550px;
 }

 .weather-input input{
  width: 100%;
  height: 46px;
  padding: 0 15px;
  outline: none;
  font-size: 1.04rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
 }

 .weather-input .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2Fd;
 }

 .weather-input button{
  background: #5372f0;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
 }

 .weather-input .location-btn{
  background: #6C757D;
 }

 .weather-data{
  width: 100%;
 }


 .current-weather{
  background: #5372f0;
  padding: 20px 70px 20px 20px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
 }

 .current-weather h2{
  font-size: 1.7rem;
 }


 .weather-data h4{
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
 }


 .current-weather .icon img{
  max-width: 120px;
 }


 .current-weather .icon h4{
  margin-top: -10px;
  text-transform: capitalize;
 }


 .days-forecast h2{
  font-size: 1.5rem;
  margin: 20px 0;
 }

 .weather-card{
  display: flex;
   gap: 20px;
 }


.weather-card .cards{
  list-style: none;
  color: #fff;
  padding: 18px 16px;
  border-radius: 5px;
  background: #6C757D;
  width: calc(100%/5);
}

.weather-card .cards img{
  max-width: 70px;
  margin: 5px 0 -12px 0;
}


@media(max-width:750px){
  .container{
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input{
    width: 100%;
  }
}